# ===========================
# ARCHIVOS DE PYTHON
# ===========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de entorno virtual
venv/
env/
.venv/
pyvenv.cfg

# ===========================
# ARCHIVOS DE CONFIGURACIÓN
# ===========================
# Variables de entorno
.env

# ===========================
# ARCHIVOS GENERADOS / LOGS
# ===========================
*.log
export.txt

# ===========================
# EDITOR / SISTEMA
# ===========================
# VSCode
.vscode/

# Windows
Thumbs.db
desktop.ini

# ===========================
# OTROS
# ===========================
# Archivos temporales
*.tmp
*.bak

# Evitar subida de archivos grandes o sensibles
*.zip
*.rar


# Carpetas 
*logs/
img/
Insumo/
Input/
Resultado/
Salida/
logs/
estandar de configuracion.txt
Estándar de Configuracion Colsubsidio 1.pdf

# ===========================
# ARCHIVOS LOCALES / PRUEBAS
# ===========================

Notas.txt
notas.py
MainLogin.py
MainPruebas1.py
MainPruebas2.py
MainPruebas3.py
MainPruebas4.py
MainPruebas5.py

NetApplications/PY/AutomatizacionGestionSolped/Notas.txt
NetApplications/PY/AutomatizacionGestionSolped/notas.py
NetApplications/PY/AutomatizacionGestionSolped/MainLogin.py
NetApplications/PY/AutomatizacionGestionSolped/MainPruebas*.py